A2 de Linguagens de Programação – 30/11/2017
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [2]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))
print('Bom trabalho!')

Entre com o seu nome completo: Aluno
Olá, Aluno!
Bom trabalho!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

Questão 1 (1,5 pontos)  


Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura, demonstrada no dataframe do Pandas:
Use os tipos de dados mais adequados.  

Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [4]:
df_tf = pd.read_excel('../../Dados/votesurvey.xls')
df_tf.index.name = 'id'
df_tf.head(10)

    Gender  Age  Salary before Stern  Expected salary Candidate
id
0     Male   27                60000           110000      Bush
1     Male   30               125000           125000      Bush
2     Male   27                50000           120000      Bush
3     Male   26                56000           100000      Bush
4     Male   27                82000           100000      Bush
5     Male   32               150000           150000      Bush
6   Female   24                55000           100000      Bush
7     Male   30               110000           150000      Bush
8     Male   26                48000            80000      Bush
9     Male   26               120000            80000      Bush

In [5]:
conn = sqlite3.connect('votesurvey.sqlite')
cur = conn.cursor()

# seu código aqui

Questão 2 (1.5 ponto)  

Conecte ao banco SQLite "iris_database.sqlite"e responda, demonstrando os comandos SQL apropriados:  

a) Há quantas "Species" diferentes na tabela "iris"?  
b) Quantos registros totais há na tabela "iris"?  

Considerando a superfície das pétalas e sépalas como retangular, responda:  

c) Qual espécie ("Species") contém, em média, a maior área de pétalas?  
d) Qual espécie ("Species") contém, em média, a maior área total (pétalas e sépalas)?  

(Por curiosidade, as espécies de Iris contém 3 pétalas e 3 sépalas)

In [7]:
conn = sqlite3.connect('../../Dados/iris_database.sqlite')
cur = conn.cursor()

# seu código aqui

Questão 3 (3.0 pontos)

Conecte ao banco Python/Dados/chinook.sqlite e responda:

a) Utilizando um comando SQL e as tabelas "invoices", "invoice_items", "customers" e "tracks", mostre quais as faixas compradas por clientes que têm o primeiro nome começando com a letra "M".  
b) Quais clientes contêm a letra "o" tanto no nome como no sobrenome?  
c) Crie um histograma de faixas ("tracks") mais compradas, usando o matplotlib.  
d) Qual o cliente ("customers") que teve gasto médio em compras ("invoices") o valor mais próximo do valor médio do total de compras de todos os clientes?  
e) Escreva um script em Python + SQL para construir um dicionário tendo os nomes dos artistas ("artists") como chaves e uma lista dos álbuns ("albuns") respectivos como valores.

In [8]:
conn = sqlite3.connect('../../Dados/chinook.sqlite')
cur = conn.cursor()

# seu código aqui

Questão 4 (1.5 pontos) 

Ajude as funções abaixo (escritas em R) a se tornarem mais eficientes, convertendo-as para Python. Faça o script o mais próximo possível do original, sem procurar por programas semelhantes na web!

In [ ]:
cpf_dig_controle <- function(y){
    v1 <- 0L
    v2 <- 0L
    z <- as.integer(rev(strsplit(as.character(y), "")[[1]]))
    for(i in seq_along(z)){
        v1 <- v1 + z[i]*(9 - (i %% 10))
        v2 <- v2 + z[i]*(9 - ((i + 1) %% 10))
    }
    v1 <- (v1 %% 11) %% 10
    v2 <- v2 + v1*9
    v2 <- (v2 %% 11) %% 10
    c(v1, v2)
}

cpf_gerar <- function(x){
    g <- function(y, v){
        z <- strsplit(as.character(y), "")[[1]]
        z <- as.integer(c(z, v))
        res <- sprintf(fmt = "%d%d%d.%d%d%d.%d%d%d-%02d",
                             z[1], z[2], z[3], z[4], z[5],
                             z[6], z[7], z[8], z[9], z[10])
        res
    }
    v <- lapply(x, cpf_dig_controle)
    result <- sapply(seq_along(x), function(i) g(x[i], v[[i]]))
    result
}

cpf_validar <- function(x){
    f <- function(y){
        z <- unlist(strsplit(y, "\\."))
        v <- substr(z[3], 3, 6)
        v <- as.integer(unlist(strsplit(v, "-")))
        z[3] <- substr(z[3], 1, 2)
        z <- as.integer(paste(z, collapse = ""))
        list(x = z, v = v)
    }
    result <- lapply(x, f)
    valido <- lapply(result, function(r) unlist(lapply(r$x, cpf_dig_controle)))
    valido <- sapply(seq_along(valido), function(i)
                    result[[i]]$v[1] == valido[[i]][1] & result[[i]]$v[2] == valido[[i]][2]
                )
    valido
}

cpf <- cpf_gerar(c(12345678, 87654321))
cpf
#[1] "123.456.786-02" "876.543.210-07"

cpf_validar(cpf)
#[1] TRUE TRUE

In [9]:
#seu código aqui

Questão 5 (1.5 pontos) 

Por vezes precisamos passar mensagens secretas aos nossos colegas de classe. Converta o código abaixo para Python:

In [ ]:
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
 
#define caesar(x) rot(13, x)
#define decaesar(x) rot(13, x)
#define decrypt_rot(x, y) rot((26-x), y)
 
void rot(int c, char *str)
{
    int l = strlen(str);
    const char *alpha[2] = { "abcdefghijklmnopqrstuvwxyz", "ABCDEFGHIJKLMNOPQRSTUVWXYZ"};
 
    int i;
    for (i = 0; i < l; i++)
    {
        if (!isalpha(str[i]))
            continue;
 
        str[i] = alpha[isupper(str[i])][((int)(tolower(str[i])-'a')+c)%26];
    }
}
 
 
int main()
{
    char str[] = "This is a top secret text message!";
 
    printf("Original: %s\n", str);
    caesar(str);
    printf("Encrypted: %s\n", str);
    decaesar(str);
    printf("Decrypted: %s\n", str);
 
    return 0;
}

In [10]:
#seu código aqui

Questão *"bônus"* (0,5 pontos)  

Converta o código abaixo para Python:

In [ ]:
(defun divisible-by (number list)
  "return true if divisible by an element in the list"
  (loop for i in list
       thereis (= (mod number i) 0)))

(defun prime-list-generator (current max-value prime-list)
  "business end of p10"
  (if (= current max-value)
      prime-list
      (if (divisible-by current prime-list)
      (prime-list-generator (+ current 1) max-value prime-list)
      (prime-list-generator (+ current 1) max-value (nconc prime-list (list current))))))

(defun p10 (n)
  "Find the sum of all the primes below n"
  (time (reduce #'+ (prime-list-generator 2 n '()))))

In [11]:
#seu código aqui

Auto-avaliação (1 ponto)  
Escreva sua auto-avaliação (mínimo de 3 linhas) e atribua a esta um valor entre 0 e 1, levando em consideração o aproveitamento na disciplina.

### Edite esta célula